<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mosq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{288,222}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{288,222}}</string>
                <key>sourceSize</key>
                <string>{300,234}</string>
            </dict>
            <key>mosq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{278,226}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{278,226}}</string>
                <key>sourceSize</key>
                <string>{300,234}</string>
            </dict>
            <key>mosq03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,228}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{290,228}}</string>
                <key>sourceSize</key>
                <string>{300,234}</string>
            </dict>
            <key>pneus01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
            <key>pneus02.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
            <key>pneus03.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,115},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{1130,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c214c6e5bddf96e20df62ee0ef022365:0d03dfb59d8a28a1c42e667ab7e4d8bb:998d06a3a8cfdeb787bb414d46e791c2$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
